<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="pt-br" 
      th:replace="~{template :: layout (~{:: main})}">
     
<body>

<main>

    <div class="center-form">
    
    
       <h3>Alteração de Senha</h3>
    
       <div th:if="${#strings.isEmpty(param.message)}"  th:remove="tag">
          <br>
       </div>
       <div th:if="${!#strings.isEmpty(param.message)}"  th:remove="tag">
          <span class="blue-text">Senha atualizada com sucesso!</apan>
       </div>
    
        <form   th:object="${pwd}"
                class="f-form" 
                th:action="@{/user/mng/change-pwd}" 
                method="post" >
    
            <p>
                <div class="labelBefore">
                   <input placeholder="Senha Atual" type="password" th:field = "*{pwd}" maxlength="50" />
                   <p th:if="${#fields.hasErrors('pwd')}" th:errorclass="form-error" th:errors="*{pwd}" />
                </div>
            </p>     
             <p>
                <div class="labelBefore">
                   <input placeholder="Nova Senha (* min. 6)" type="password" th:field = "*{newpwd1}" maxlength="50" />
                   <p th:if="${#fields.hasErrors('newpwd1')}" th:errorclass="form-error" th:errors="*{newpwd1}" />
                </div>
            </p>     
            <p>
                <div class="labelBefore">
                   <input placeholder="Confirme a Senha" type="password" th:field = "*{newpwd2}" maxlength="50" />
                   <p th:if="${#fields.hasErrors('newpwd2')}" th:errorclass="form-error" th:errors="*{newpwd2}" />
                </div>
            </p>     
            <p>
                <!-- outros erros nao associados a um campo especifico. Ex: validacao de senhas iguais-->
                <div class="labelBefore">
                   <p th:if="${#fields.hasErrors('global')}" th:errorclass="form-error" th:errors="*{global}" />
                </div>
            </p>                                
            <br>
            <input type="submit"   value="Alterar" />                                 
        </form>
        
    </div>

</main>

</body>
</html>






