<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="pt-br" 
      th:replace="~{template :: layout (~{:: main})}">

<body>

<main>  
    <img src="/image/error_icon.png"  alt="Error">   
    
    <p>
    
    <p  th:if="${errorMessage != null }" th:text="${errorMessage}" ></p>
    
    <div  th:if="${errorMessage == null }" >
        <p th:text="${status} + ' - ' + ${error} + ' - ' + ${message}"> </p>
    </div>
    
</main>

</body>
</html>
